div.flex {
  display: flex;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  &.row {
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
    &.center {
      align-items: center;
      justify-content: center;
    }
    &.top {
      align-items: flex-start;
    }
    &.right {
      justify-content: flex-end;
    }
    &.bottom {
      align-items: flex-end;
    }
    &.left {
      justify-content: flex-start;
    }
  }
  &.column {
    flex-direction: column;
    &.reverse {
      flex-direction: column-reverse;
    }
    &.center {
      align-items: center;
      justify-content: center;
    }
    &.top {
      justify-content: flex-start;
    }
    &.right {
      align-items: flex-end;
    }
    &.bottom {
      justify-content: flex-end;
    }
    &.left {
      align-items: flex-start;
    }
  }
}
