@use '../variables' as v;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 100;
  background: v.$color-paper;
  position: relative;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  max-height: 90%;
  padding: 1rem;
  -webkit-animation: grow 0.25s ease forwards;
  animation: grow 0.25s ease forwards;
}

.modal-body {
  overflow: auto;
  overflow-x: hidden;
  max-height: 70vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: white;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: v.$space-unit * 0.25;
  &:hover {
    background-color: v.$color-paper-dark;
  }
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0);
    visibility: visible;
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
