.snack {
  -webkit-animation: grow 0.25s ease forwards;
  animation: grow 0.25s ease forwards;
}

.snack-icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0.456em;
}

.snack-title {
  margin-top: 0.425em;
  margin-bottom: 0;
}

.snack-description {
  font-size: 0.8em;
  margin-left: 0.78125em;
  margin-top: 0;
  margin-bottom: 0;
  color: #666666;
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0);
    visibility: visible;
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
