.shaking {
  transform-origin: -50% 0%;
  animation: shaking 0.2s infinite ease;
}

@keyframes shaking {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(10px) scale(0.98);
  }
  50% {
    transform: translateX(-10px) scale(1.025);
  }
  75% {
    transform: translateX(10px) scale(0.98);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.rotate {
  transform-origin: 0% 0%;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(1.25);
  }
  100% {
    transform: rotate(359deg) scale(0.8);
  }
}

.giggle {
  animation: giggle 2s infinite ease;
}

@keyframes giggle {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(-10deg);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(-10deg);
  }
}
