@use '../variables' as v;
@import '../common.module.scss';

button,
label {
  &.primary {
    @extend .primary;
    &:hover {
      background-color: v.$color-primary-dark;
      &:disabled {
        background-color: v.$color-primary;
      }
    }
  }

  &.secondary {
    @extend .secondary;
    &:hover {
      background-color: v.$color-secondary-dark;
      &:disabled {
        background-color: v.$color-secondary;
      }
    }
  }

  &.paper {
    @extend .paper;
    background-color: white;
    &:hover {
      background-color: v.$color-paper-dark;
      &:disabled {
        background-color: white;
      }
    }
  }
}
