$small-width-threshold: 28em;
$space-unit: 2.5em;
$opacity: 50%;
$color-primary: #de0095;
$color-primary-dark: #9f0075;
$color-primary-light: #ff43c0;
$color-secondary: #2979ff;
$color-secondary-dark: #004ecb;
$color-secondary-light: #75a7ff;
$color-paper: #f7f9fc;
$color-paper-dark: #c7c7d1;
$color-black: #151517;
