@use 'variables' as v;

.primary {
  color: white;
  background-color: v.$color-primary;
}
.secondary {
  color: white;
  background-color: v.$color-secondary;
}
.paper {
  color: v.$color-black;
  background-color: v.$color-paper;
}

.background {
  border-radius: 0.25 * v.$space-unit;
  color: white;
  background-color: rgba(0, 0, 0, v.$opacity);
}

.scale-hover {
  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.1);
    transform-origin: center;
  }
}

.content-box {
  box-sizing: content-box;
}

.fit-content {
  width: fit-content !important;
  height: fit-content !important;
}

.padding {
  padding: 0.1 * v.$space-unit;
}

.margin {
  margin: 0.1 * v.$space-unit;
}

.small-hide {
  @media screen and (max-width: (v.$small-width-threshold)) {
    display: none !important;
  }
}

.pixelated {
  image-rendering: pixelated;
}

.long-text {
  display: block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ////////

// .container {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   width: 100%;
// }
// .container-fluid {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   width: 100%;
// }
// .container-lg {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   width: 100%;
// }
// .container-md {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   width: 100%;
// }
// .container-sm {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   width: 100%;
// }
// .container-xl {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
//   width: 100%;
// }
.pointer-none {
  pointer-events: none;
}
.pointer-auto {
  pointer-events: auto;
}
.pointer-children {
  pointer-events: none !important;
  > * {
    pointer-events: auto;
  }
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

// .text-left {
//   text-align: left;
// }
// .text-center {
//   text-align: center;
// }
// .text-upper {
//   text-transform: uppercase !important;
// }
// .col {
//   padding-left: 15px;
//   padding-right: 15px;
//   position: relative;
//   width: 100%;
// }
// .pt {
//   padding-top: 1.5rem !important;
// }
// .pb {
//   padding-bottom: 1.5rem !important;
// }
// .mt {
//   margin-top: 3rem !important;
// }
// .mb {
//   margin-bottom: 3rem !important;
// }
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
//   .container-sm {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
//   .container-md {
//     max-width: 720px;
//   }
//   .container-sm {
//     max-width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
//   .container-lg {
//     max-width: 960px;
//   }
//   .container-md {
//     max-width: 960px;
//   }
//   .container-sm {
//     max-width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1140px;
//   }
//   .container-lg {
//     max-width: 1140px;
//   }
//   .container-md {
//     max-width: 1140px;
//   }
//   .container-sm {
//     max-width: 1140px;
//   }
//   .container-xl {
//     max-width: 1140px;
//   }
// }
