@use 'variables' as v;

html,
body {
  background-color: v.$color-black;
  color: v.$color-paper;
  margin: 0;
  padding: 0;
  position: sticky;
  overflow: hidden !important;
  overscroll-behavior: contain;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  // zoom: 1.2;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0.25 * v.$space-unit;
}

a {
  color: v.$color-primary;
}

input[type='text'] {
  border: none;
  outline: none;
  border-radius: 0.25 * v.$space-unit;
  margin: 0.1 * v.$space-unit;
  padding: 0.25 * v.$space-unit;
  transition: background-color 0.1s ease;
  text-transform: uppercase;
  font-weight: bold;
}

input[type='file'] {
  border: none;
  outline: none;
  border-radius: 0.25 * v.$space-unit;
  margin: 0.1 * v.$space-unit;
  padding: 0.25 * v.$space-unit;
  transition: background-color 0.1s ease;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.button-like {
  border: none;
  border-radius: 0.25 * v.$space-unit;
  margin: 0.1 * v.$space-unit;
  padding: 0.25 * v.$space-unit;
  box-shadow: 0 0 14px 0 rgb(53 64 82 / 10%);
  transition: background-color 0.1s ease;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 0.25 * v.$space-unit;
  margin: 0.1 * v.$space-unit;
  padding: 0.25 * v.$space-unit;
  box-shadow: 0 0 14px 0 rgb(53 64 82 / 10%);
  transition: background-color 0.1s ease;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  opacity: 0.15;
  cursor: auto;
}

// span {
//   font-size: 1.2em;
// }

// input[type="checkbox"] {
//   margin: 4px;
// }

// input[type="range"] {
//   margin: 30px 0 20px 0;
//   -webkit-appearance: none;
//   background-color: v.$color-paper-dark;
//   height: 0.5em;
//   margin: 4px;
//   border-radius: 0.25em;
// }
// input[type="range"]:focus {
//   outline: none;
// }
// input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   width: 1.25em;
//   height: 1.25em;
//   background: v.$color-primary;
//   border-radius: 50%;
//   transition: width 0.1s, height 0.1s;
// }
// input[type="range"]::-webkit-slider-thumb:hover {
//   width: 1.6em;
//   height: 1.6em;
//   transition: width 0.1s, height 0.1s;
//   cursor: pointer;
// }

::-webkit-scrollbar {
  width: 0.25 * v.$space-unit;
  height: 0.25 * v.$space-unit;
}
::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 0.25 * v.$space-unit;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 0%, 0.15);
  border-radius: 0.25 * v.$space-unit;
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
  }
}

.tippy-box {
  &[data-theme~='vanilla'] {
    background-color: white;
    color: v.$color-black;
    box-shadow: 0 0 14px 0 rgb(53 64 82 / 10%);
    border-radius: 0.25 * v.$space-unit;
    .tippy-arrow {
      color: white;
    }
    .tippy-content {
      padding: 5px 5px;
    }
  }
}

.tippy-box {
  &[data-theme~='vanilla-big'] {
    background-color: white;
    color: v.$color-black;
    box-shadow: 0 0 14px 0 rgb(53 64 82 / 10%);
    border-radius: 0.25 * v.$space-unit;
    .tippy-arrow {
      color: white;
    }
    .tippy-content {
      padding: 5px 5px;
      font-size: 1.25em;
    }
  }
}

input[type='checkbox'] {
  margin: 4px;
}
input[type='range'] {
  margin: 30px 0 20px 0;
  -webkit-appearance: none;
  background-color: v.$color-paper-dark;
  height: 0.5em;
  margin: 4px;
  border-radius: 0.25em;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25em;
  height: 1.25em;
  background: v.$color-primary;
  border-radius: 50%;
  transition: width 0.1s, height 0.1s;
}
input[type='range']::-webkit-slider-thumb:hover {
  width: 1.6em;
  height: 1.6em;
  transition: width 0.1s, height 0.1s;
  cursor: pointer;
}

// spinner animation

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

// hourglass animation

@keyframes top-clip {
  0% {
  }
  50% {
    transform: translateY(21px);
  }
  100% {
    transform: translateY(21px);
  }
}

@keyframes bottom-sand-path {
  0% {
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bottom-sand-g {
  0% {
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}

@keyframes hourglass-rotation {
  50% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

#top-sand #top-clip-path rect,
#bottom-sand path,
#bottom-sand g,
#hourglass-wrapper {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

#top-sand #top-clip-path rect {
  animation-name: top-clip;
}

#bottom-sand path {
  transform: translateY(30px);
  animation-name: bottom-sand-path;
}

#bottom-sand g {
  animation-name: bottom-sand-g;
}

#hourglass-wrapper {
  animation-name: hourglass-rotation;
}

.text_with_1px_border {
  text-shadow: -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000,
    -1px 0px 0px #000, 1px 0px 0px #000, -1px 1px 0px #000, 0px 1px 0px #000,
    1px 1px 0px #000;
}

.text_with_2px_border {
  text-shadow: 
        /* first layer at 1px */ -1px -1px 0px #000,
    0px -1px 0px #000, 1px -1px 0px #000, -1px 0px 0px #000, 1px 0px 0px #000,
    -1px 1px 0px #000, 0px 1px 0px #000, 1px 1px 0px #000,
    /* second layer at 2px */ -2px -2px 0px #000, -1px -2px 0px #000,
    0px -2px 0px #000, 1px -2px 0px #000, 2px -2px 0px #000, 2px -1px 0px #000,
    2px 0px 0px #000, 2px 1px 0px #000, 2px 2px 0px #000, 1px 2px 0px #000,
    0px 2px 0px #000, -1px 2px 0px #000, -2px 2px 0px #000, -2px 1px 0px #000,
    -2px 0px 0px #000, -2px -1px 0px #000;
}

/*!
 * Dice (https://github.com/alexerlandsson/dice)
 * Copyright 2020 Alexander Erlandsson
 * Licensed under MIT
 */

// Settings
// Change these settings to fit your project

$dice-size: 140px;
$animation-speed: 500ms;
$image-path: '/colon-view/assets/bitmaps/dice/';
$ie-fallback: true;

// DO NOT CHANGE ANYTHING BELOW!

// Variables

$size-half: calc($dice-size / 2);

// Scene

.dice__scene {
  width: $dice-size;
  height: $dice-size;
  perspective: ($dice-size * 3);
  position: absolute;
  opacity: 1;
  cursor: pointer;
  right: 50px;
  bottom: 50px;
}
.dice__scene.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

// Cube

@mixin ieFallbackRotate($selector) {
  @if $ie-fallback {
    // Toggles active side with display since preserve-3d is not supported in IE
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .dice__side--#{$selector} {
        display: block;
      }
    }
  }
}

.dice__cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-($size-half));
  transition: transform ease;
  transition-duration: $animation-speed;

  @if $ie-fallback {
    // Required since preserve-3d is not supported in IE
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      transform-style: flat;
      transform: none !important;
    }
  }

  // Rotation if dice hit same number twice

  @keyframes showSameFont {
    100% {
      transform: translateZ(-($size-half)) rotateY(360deg);
    }
  }

  @keyframes showSameRight {
    100% {
      transform: translateZ(-($size-half)) rotateY(-450deg);
    }
  }

  @keyframes showSameBack {
    100% {
      transform: translateZ(-($size-half)) rotateY(-540deg);
    }
  }

  @keyframes showSameLeft {
    100% {
      transform: translateZ(-($size-half)) rotateY(450deg);
    }
  }

  @keyframes showSameTop {
    100% {
      transform: translateZ(-($size-half)) rotateX(-450deg);
    }
  }

  @keyframes showSameBottom {
    100% {
      transform: translateZ(-($size-half)) rotateX(450deg);
    }
  }

  // Dice rotation

  &.show-front {
    @include ieFallbackRotate('front');
    transform: translateZ(-($size-half)) rotateY(0deg);

    &.show-same {
      animation: showSameFont $animation-speed ease;
    }
  }

  &.show-right {
    @include ieFallbackRotate('right');
    transform: translateZ(-($size-half)) rotateY(-90deg);

    &.show-same {
      animation: showSameRight $animation-speed ease;
    }
  }

  &.show-back {
    @include ieFallbackRotate('back');
    transform: translateZ(-($size-half)) rotateY(-180deg);

    &.show-same {
      animation: showSameBack $animation-speed ease;
    }
  }

  &.show-left {
    @include ieFallbackRotate('left');
    transform: translateZ(-($size-half)) rotateY(90deg);

    &.show-same {
      animation: showSameLeft $animation-speed ease;
    }
  }

  &.show-top {
    @include ieFallbackRotate('top');
    transform: translateZ(-($size-half)) rotateX(-90deg);

    &.show-same {
      animation: showSameTop $animation-speed ease;
    }
  }

  &.show-bottom {
    @include ieFallbackRotate('bottom');
    transform: translateZ(-($size-half)) rotateX(90deg);

    &.show-same {
      animation: showSameBottom $animation-speed ease;
    }
  }
}

// Sides

.dice__side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  box-shadow: inset 0 0 calc($dice-size / 10) rgba(0, 0, 0, 0.1);
  user-select: none;

  @if $ie-fallback {
    // Toggles active side with display since preserve-3d is not supported in IE
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: none;
      transform: none !important;
    }
  }
}

.dice__side--front {
  transform: rotateY(0deg) translateZ($size-half);
  background-image: url('#{$image-path}dice-1.png');
}

.dice__side--back {
  transform: rotateY(180deg) translateZ($size-half);
  background-image: url('#{$image-path}dice-6.png');
}

.dice__side--right {
  transform: rotateY(90deg) translateZ($size-half);
  background-image: url('#{$image-path}dice-4.png');
}

.dice__side--left {
  transform: rotateY(-90deg) translateZ($size-half);
  background-image: url('#{$image-path}dice-3.png');
}

.dice__side--top {
  transform: rotateX(90deg) translateZ($size-half);
  background-image: url('#{$image-path}dice-2.png');
}

.dice__side--bottom {
  transform: rotateX(-90deg) translateZ($size-half);
  background-image: url('#{$image-path}dice-5.png');
}

// Confetti

[class|='confetti'] {
  position: absolute;
}

$colors: (#ec2e44, #ffbf00, #082aa5);

@for $i from 0 through 250 {
  $w: random(100);
  $l: random(500);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w * 0.4}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l + '%');
    z-index: 99999;
    transform: rotate(#{random() * 360}deg);
    animation: drop-#{$i}
      unquote(4 + random() + 's')
      unquote(4 * random() + 's')
      infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l + random(15) + '%');
    }
  }
}
