@use '../variables' as v;

.switch {
  position: relative;
  display: inline-block;
  width: 2.771em;
  height: 1.57em;
  margin: 4px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: v.$color-paper-dark;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1em;
  &:before {
    position: absolute;
    content: '';
    height: 0.95em;
    width: 0.95em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  &.round {
    border-radius: 1.57em;
    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked {
    & + .slider {
      background-color: v.$color-primary;
      &:before {
        -webkit-transform: translateX(1.2em);
        -ms-transform: translateX(1.2em);
        transform: translateX(1.2em);
      }
    }
  }
}
