.dropdown-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  & > button {
    display: flex;
    align-items: center;
    box-shadow: none;
    transition: background-color 0.1s ease;
    padding: 0.3em;
    font-size: 1.125em;
    &:hover {
      background-color: #f7f9fc;
    }
  }
}
